<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>59C8DE58-556F-41BA-BEA8-1B6ADDDE7C91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B70420A9-10C8-47AD-879E-C4752A2B4ED9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy clone URL to clipboard.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9FC2C605-58D7-45C0-9349-92F55144CC6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42F3DC13-A9DE-4BAB-A869-7C63EA94FF8D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to clipboard.</string>
			</dict>
		</array>
		<key>9DE421A1-BB02-42CC-AA72-E6CA76F110B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02314226-72F1-4127-8E97-0350CC3D4A08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jonathan Ströbele</string>
	<key>description</key>
	<string>Search through your GitHub stars.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub Stars</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>

$clone_url = 'git clone ' . '{query}' . '.git';
exec('osascript -e "set the clipboard to \"' . $clone_url . '\""');</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>B70420A9-10C8-47AD-879E-C4752A2B4ED9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9FC2C605-58D7-45C0-9349-92F55144CC6A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>42F3DC13-A9DE-4BAB-A869-7C63EA94FF8D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ghs</string>
				<key>runningsubtext</key>
				<string>fetching…</string>
				<key>script</key>
				<string>php -f app.php "{query}"</string>
				<key>subtext</key>
				<string>Repositories</string>
				<key>title</key>
				<string>GitHub Stars</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>59C8DE58-556F-41BA-BEA8-1B6ADDDE7C91</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ghsset user</string>
				<key>subtext</key>
				<string>It's the name you login with. ;)</string>
				<key>text</key>
				<string>Set your GitHub username</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9DE421A1-BB02-42CC-AA72-E6CA76F110B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>echo {query} &gt; userid.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>02314226-72F1-4127-8E97-0350CC3D4A08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02314226-72F1-4127-8E97-0350CC3D4A08</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>42F3DC13-A9DE-4BAB-A869-7C63EA94FF8D</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>59C8DE58-556F-41BA-BEA8-1B6ADDDE7C91</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>9DE421A1-BB02-42CC-AA72-E6CA76F110B8</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>9FC2C605-58D7-45C0-9349-92F55144CC6A</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>B70420A9-10C8-47AD-879E-C4752A2B4ED9</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jonathanstroebele.de</string>
</dict>
</plist>
